# Environments
mypythonenv/
.env

# Data and Databases (optional, but recommended so you don't upload huge files)
data/
database/
*.db
*.sqlite3

# Temporary lock files (like the Word doc lock file in your screenshot)
.~lock.*
~$*.doc
*.tmp
*.docx
*.txt

# Python caches
__pycache__/
*.pyc
